@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.modal-open {
  overflow: hidden;
}
body.notification-is-shown {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

:root {
  --body-color: #222831;
  --header-background-color: #0d1519;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --header-font-color: #ffffff;
  --primary-font-color: rgba(0, 0, 0, 1);
  --accent-color: rgba(255, 107, 8, 1);
  --error-color: #ff001b;
  --modal-color: #606470;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  padding-top: 40px;
  background-color: var(--header-background-color);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.header.main-header {
  padding-bottom: 86px;
  background-image: url(../images/home-background/mobile-background-home.jpg);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header.main-header {
    background-image: url(../images/home-background/mobile-background-home@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header.main-header {
    padding-bottom: 84px;
    background-image: url(../images/home-background/tablet-background-home.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header.main-header {
    background-image: url(../images/home-background/tablet-background-home@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header.main-header {
    background-image: url(../images/home-background/desktop-background-home.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header.main-header {
    background-image: url(../images/home-background/desktop-background-home@2x.jpg);
  }
}
.header.library-header {
  padding-bottom: 62px;
  background-image: url(../images/library-background/mob-background-library.jpg);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header.library-header {
    background-image: url(../images/library-background/mob-background-library@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header.library-header {
    padding-bottom: 80px;
    background-image: url(../images/library-background/tab-background-library.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header.library-header {
    background-image: url(../images/library-background/tab-background-library@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header.library-header {
    background-image: url(../images/library-background/desktop-background-library.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header.library-header {
    background-image: url(../images/library-background/desktop-background-library@2x.jpg);
  }
}

.header__upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-upper-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  fill: var(--header-font-color);
  transition: fill var(--cubic), scale var(--cubic);
}
.menu-burger:hover, .menu-burger:focus {
  fill: var(--accent-color);
  scale: 1.02;
}

@media screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}

.auth-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--header-font-color);
  border-radius: 50%;
  fill: var(--header-font-color);
  transition: fill var(--cubic), border var(--cubic), scale var(--cubic);
}
.auth-btn:hover, .auth-btn:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  scale: 1.01;
}

.search {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 54px;
  display: flex;
  border-bottom: 0.5px solid var(--header-font-color);
  transition: border-bottom var(--cubic);
}
.search:hover, .search:focus-within {
  border-bottom: 0.5px solid var(--accent-color);
}
@media screen and (max-width: 319px) {
  .search {
    width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .search {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .search {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search {
    width: 394px;
  }
}

.search__input,
.search__btn {
  border: none;
  background: transparent;
}

.search__input {
  width: 100%;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-font-color);
}
.search__input:focus {
  outline: none;
}
.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-font-color);
  opacity: 0.7;
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-font-color);
  opacity: 0.7;
}

.search__btn {
  fill: var(--header-font-color);
  transition: fill var(--cubic), transform var(--cubic);
}
.search__btn:hover {
  transform: scale(1.03);
  fill: var(--accent-color);
}

.btn-lower-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .btn-lower-container {
    gap: 32px;
    margin-top: 40px;
  }
}

.library-header-btn {
  width: 130px;
  height: 44px;
  border: 1px solid var(--header-font-color);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--header-font-color);
  cursor: pointer;
}
.library-header-btn:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.library-header-btn.active-button {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--header-font-color);
}
@media screen and (min-width: 768px) {
  .library-header-btn {
    width: 152px;
  }
}

.menu {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.menu__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  background: linear-gradient(181deg, rgb(241, 38, 11) 0%, rgb(12, 9, 21) 100%);
}

.menu__upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.menu__item {
  transition: transform var(--cubic);
}
.menu__item:hover, .menu__item:focus {
  transform: scale(1.01);
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--header-font-color);
  transition: color var(--cubic);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .basicLightbox {
    padding: 20px;
    align-items: start;
    overflow-y: auto;
  }
}

.auth__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-font-color);
  border-radius: 20px;
  border: 3px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .auth__container {
    width: 400px;
    max-width: 400px;
    padding: 50px 20px;
  }
}

.auth__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: var(--header-font-color);
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .auth__icon-container {
    width: 75px;
    height: 75px;
    margin-bottom: 60px;
  }
}

.auth__text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .auth__text {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

.auth__btn-container {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .auth__btn-container {
    gap: 40px;
  }
}

.sign-modal {
  width: 100%;
  max-width: 320px;
  padding: 30px 15px;
  background-color: var(--header-font-color);
  border-radius: 20px;
  border: 3px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .sign-modal {
    width: 500px;
    max-width: 500px;
    padding: 40px 40px;
  }
}

.sign-form {
  text-align: center;
}

.sign {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign:focus-within .sign__icon {
  fill: var(--primary-font-color);
}

.sign.email {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .sign.email {
    margin-bottom: 50px;
  }
}

.sign.password {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .sign.password {
    margin-bottom: 60px;
  }
}

.sign__label {
  margin-bottom: 5px;
  color: var(--primary-font-color);
  font-size: 16px;
  line-height: 1.2;
}

.sign__input {
  width: 100%;
  padding: 10px 34px;
  border: 1px solid var(--primary-font-color);
  border-radius: 5px;
  transition: all var(--cubic);
}
@media screen and (min-width: 768px) {
  .sign__input {
    padding: 15px 40px;
    font-size: 18px;
  }
}
.sign__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-style: italic;
  color: var(--modal-color);
}
.sign__input::placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-style: italic;
  color: var(--modal-color);
}
@media screen and (min-width: 768px) {
  .sign__input::-moz-placeholder {
    font-size: 16px;
  }
  .sign__input::placeholder {
    font-size: 16px;
  }
}
.sign__input:focus {
  outline: 1px solid var(--primary-font-color);
}

.sign__icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
  fill: var(--modal-color);
  width: 20px;
  height: 20px;
  transition: all var(--cubic);
}
@media screen and (min-width: 768px) {
  .sign__icon {
    left: 12px;
    bottom: 13px;
    width: 25px;
    height: 25px;
  }
}

.sign__error {
  position: absolute;
  bottom: -17px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--error-color);
  transition: all var(--cubic);
}
@media screen and (min-width: 768px) {
  .sign__error {
    bottom: -19px;
    font-size: 14px;
  }
}

.sign__text {
  position: absolute;
  bottom: -30px;
  text-align: left;
  font-size: 12px;
  line-height: 1.2;
  color: var(--modal-color);
}
@media screen and (min-width: 768px) {
  .sign__text {
    bottom: -19px;
    font-size: 14px;
  }
}

.sign__btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: none;
  cursor: pointer;
  color: var(--modal-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 100;
  transition: all var(--cubic);
}
@media screen and (min-width: 768px) {
  .sign__btn {
    bottom: 9px;
    font-size: 22px;
  }
}
.sign__btn:hover, .sign__btn:focus {
  color: var(--accent-color);
  transform: scale(1.015);
}

.movieModal__container {
  position: relative;
  width: 100%;
  max-width: 280px;
  padding: 48px 20px 48px 20px;
  border-radius: 5px;
  background-color: var(--header-font-color);
}
@media screen and (min-width: 768px) {
  .movieModal__container {
    display: flex;
    gap: 68px;
    max-width: 704px;
    padding: 40px 36px 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .movieModal__container {
    gap: 16px;
    max-width: 806px;
    padding: 40px 12px 40px 12px;
  }
}

.movieModal__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 357px;
}
@media screen and (min-width: 768px) {
  .movieModal__img-container {
    width: 264px;
    height: 374px;
  }
}
@media screen and (min-width: 1280px) {
  .movieModal__img-container {
    width: 375px;
    height: 478px;
  }
}

.movieModal__img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .movieModal__img {
    width: 264px;
    height: 374px;
  }
}
@media screen and (min-width: 1280px) {
  .movieModal__img {
    width: 375px;
    height: 478px;
  }
}

@media screen and (max-width: 767px) {
  .movieModal__info-container {
    margin-top: 20px;
    width: 100%;
  }
}

.movieModal__list {
  width: 100%;
}

.movieModal__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-font-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .movieModal__title {
    font-size: 30px;
  }
}

.movieModal__list-container {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .movieModal__list-container {
    gap: 83px;
  }
}

.movieModal__item-list {
  display: flex;
}

.movieModal__item {
  width: 50%;
}

.movieModal__list-section:not(:last-child) {
  margin-bottom: 8px;
}

.movieModal__item.heading {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.movieModal__item.text {
  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.movieModal__item.text:not(:last-child) {
  text-transform: uppercase;
}

.vote-average {
  padding: 1px 10px;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--header-font-color);
}

.slash {
  margin-left: 10px;
  margin-right: 12px;
  color: #8c8c8c;
}

.movieModal__about-container {
  margin-bottom: 20px;
}

.movieModal__subtitle {
  margin-bottom: 10px;
  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

.movieModal__description {
  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
}

.movieModal__btn-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .movieModal__btn-container {
    justify-content: left;
    gap: 15px;
    padding: 8px;
  }
}

.movieModal__btn {
  width: 110px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: var(--header-font-color);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33; /* 133.333% */
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .movieModal__btn {
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .movieModal__btn {
    width: 136px;
  }
}

.movieModal__btn.firstBtn {
  background-color: var(--accent-color);
  color: var(--header-font-color);
  border: 1px solid var(--accent-color);
  transition: all var(--cubic);
}
.movieModal__btn.firstBtn:hover {
  background-color: var(--header-font-color);
  color: var(--accent-color);
}

.movieModal__btn.secondBtn {
  color: var(--primary-font-color);
  border: 1px solid var(--primary-font-color);
}
.movieModal__btn.secondBtn:hover {
  background-color: var(--header-font-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.dark-theme .main,
.dark-theme .auth__container,
.dark-theme .sign-modal,
.dark-theme .sign__input,
.dark-theme .movieModal__container {
  background-color: var(--body-color);
}
.dark-theme .movie__title,
.dark-theme .notification-text,
.dark-theme .auth__text,
.dark-theme .movieModal__title,
.dark-theme .movieModal__item.text,
.dark-theme .movieModal__subtitle,
.dark-theme .movieModal__description,
.dark-theme .tui-pagination .tui-page-btn {
  color: var(--header-font-color);
}
.dark-theme .tui-pagination .tui-page-btn.tui-is-selected {
  color: var(--primary-font-color);
}
.dark-theme .footer {
  background-color: #1b2225;
  color: var(--header-font-color);
}
.dark-theme .scroll-up__button {
  background-color: var(--body-color);
  fill: var(--header-font-color);
}
.dark-theme .close-btn.modal-btn,
.dark-theme .sign__label,
.dark-theme .sign__input {
  color: var(--header-font-color);
}
.dark-theme .auth__btn.signin-btn,
.dark-theme .auth__btn.cancel-btn,
.dark-theme .movieModal__btn.secondBtn {
  color: var(--header-font-color);
  background-color: var(--body-color);
  border: 1px solid var(--header-font-color);
}
.dark-theme .auth__btn.signin-btn:hover, .dark-theme .auth__btn.signin-btn:focus,
.dark-theme .auth__btn.cancel-btn:hover,
.dark-theme .auth__btn.cancel-btn:focus,
.dark-theme .movieModal__btn.secondBtn:hover,
.dark-theme .movieModal__btn.secondBtn:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.dark-theme .auth__btn.signup-btn,
.dark-theme .auth__btn.signout-btn {
  color: var(--body-color);
}
.dark-theme .auth__btn.signup-btn:hover, .dark-theme .auth__btn.signup-btn:focus,
.dark-theme .auth__btn.signout-btn:hover,
.dark-theme .auth__btn.signout-btn:focus {
  background-color: var(--body-color);
}
.dark-theme .auth__icon-container {
  fill: var(--body-color);
}
.dark-theme .sign:focus-within .sign__icon {
  fill: var(--header-font-color);
}
.dark-theme .sign__input {
  border: 1px solid var(--modal-color);
}
.dark-theme .sign__input:focus {
  outline: 1px solid var(--header-font-color);
}
.dark-theme .auth__btn.submit-btn {
  color: var(--body-color);
}
.dark-theme .auth__btn.submit-btn:hover, .dark-theme .auth__btn.submit-btn:focus {
  background-color: var(--body-color);
}
.dark-theme .close-btn.modal-btn {
  color: var(--header-font-color);
}
.dark-theme .close-btn.modal-btn:hover, .dark-theme .close-btn.modal-btn:focus {
  color: var(--accent-color);
}
.dark-theme .auth__btn.signup-btn,
.dark-theme .auth__btn.signout-btn,
.dark-theme .auth__btn.submit-btn,
.dark-theme .movieModal__btn.firstBtn {
  color: var(--primary-font-color);
}
.dark-theme .auth__btn.signup-btn:hover, .dark-theme .auth__btn.signup-btn:focus,
.dark-theme .auth__btn.signout-btn:hover,
.dark-theme .auth__btn.signout-btn:focus,
.dark-theme .auth__btn.submit-btn:hover,
.dark-theme .auth__btn.submit-btn:focus,
.dark-theme .movieModal__btn.firstBtn:hover,
.dark-theme .movieModal__btn.firstBtn:focus {
  background-color: var(--body-color);
  color: var(--accent-color);
}
.dark-theme .vote-average,
.dark-theme .movie__vote {
  color: var(--primary-font-color);
}
.dark-theme .tui-pagination .tui-prev.tui-page-btn,
.dark-theme .tui-pagination .tui-next.tui-page-btn {
  background-color: var(--modal-color);
}

.nav {
  margin-right: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    margin-right: auto;
    display: flex;
    gap: 60px;
    align-items: center;
    gap: 280px;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    gap: 760px;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}

.nav__item {
  transition: transform var(--cubic);
}
.nav__item:hover, .nav__item:focus {
  transform: scale(1.015);
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--header-font-color);
  transition: color var(--cubic);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .btn-upper-container .theme-button {
    display: none;
  }
}

.theme-button {
  display: flex;
  color: var(--header-font-color);
  font-weight: 500;
  font-size: 22px;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: fill var(--cubic), scale var(--cubic);
}
.theme-button:hover, .theme-button:focus {
  color: var(--accent-color);
  scale: 1.02;
}

.close-btn {
  border: none;
  background-color: transparent;
  line-height: 1;
  font-weight: 100;
  transition: all var(--cubic);
}
.close-btn:hover, .close-btn:focus {
  color: var(--accent-color);
  transform: scale(1.015);
}

.close-btn.menu-btn {
  font-size: 30px;
  color: var(--header-font-color);
}

.close-btn.modal-btn {
  position: absolute;
  top: 7px;
  right: 15px;
  color: var(--primary-font-color);
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .close-btn.modal-btn {
    font-size: 30px;
  }
}

.auth__btn {
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  transition: all var(--cubic), transform var(--cubic);
}
@media screen and (min-width: 768px) {
  .auth__btn {
    font-size: 14px;
  }
}

.auth__btn.signup-btn,
.auth__btn.signout-btn {
  color: var(--header-font-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.auth__btn.signup-btn:hover, .auth__btn.signup-btn:focus,
.auth__btn.signout-btn:hover,
.auth__btn.signout-btn:focus {
  color: var(--accent-color);
  background-color: var(--header-font-color);
}

.auth__btn.signin-btn,
.auth__btn.cancel-btn {
  color: var(--primary-font-color);
  background-color: var(--header-font-color);
  border: 1px solid var(--primary-font-color);
}
.auth__btn.signin-btn:hover, .auth__btn.signin-btn:focus,
.auth__btn.cancel-btn:hover,
.auth__btn.cancel-btn:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.auth__btn.submit-btn {
  color: var(--header-font-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.auth__btn.submit-btn:hover, .auth__btn.submit-btn:focus {
  color: var(--accent-color);
  background-color: var(--header-font-color);
}
@media screen and (min-width: 768px) {
  .auth__btn.submit-btn {
    padding: 14px 50px;
  }
}

.nav__logo {
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform var(--cubic);
}
.nav__logo:hover, .nav__logo:focus {
  color: var(--accent-color);
  transform: scale(1.01);
}
.nav__logo:hover .nav__logo-img, .nav__logo:focus .nav__logo-img {
  stroke: var(--accent-color);
}
.nav__logo:hover .nav__logo-text, .nav__logo:focus .nav__logo-text {
  color: var(--accent-color);
}

.nav__logo-img {
  fill: transparent;
  stroke: var(--header-font-color);
  transition: stroke var(--cubic);
}
@media screen and (max-width: 767px) {
  .nav__logo-img {
    width: 30px;
    height: 30px;
  }
}

.nav__logo-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: var(--header-font-color);
  transition: color var(--cubic);
}
@media screen and (max-width: 767px) {
  .nav__logo-text {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo-text {
    margin-left: 10px;
  }
}

.main {
  flex-grow: 1;
}

.movies__list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .movies__list {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__list {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .movie__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.movie__item {
  padding: 10px;
  transition: all var(--cubic);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .movie__item {
    flex-basis: calc((100% - 32px) / 2);
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__item {
    flex-basis: calc((100% - 32px) / 3);
  }
}
.movie__item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.movie__poster-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 402px;
  overflow-y: hidden;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .movie__poster-container {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__poster-container {
    margin-bottom: 12px;
    height: 574px;
  }
}

.movie__poster {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: all var(--cubic);
}
.movie__item:hover .movie__poster {
  transform: scale(1.1);
}

.movie__title,
.movie__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 1280px) {
  .movie__title,
  .movie__text {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__title {
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.movie__text {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.movie__vote {
  margin-left: 6px;
  padding: 1px 10px;
  background-color: var(--accent-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: var(--header-font-color);
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .movie__vote {
    padding: 3px 12px;
  }
}

.alarm-btn {
  margin-top: 100px;
  display: none;
}

.tui-pagination {
  justify-content: center;
  display: flex;
}

.tui-pagination .tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--primary-font-color);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all var(--cubic);
}
.tui-pagination .tui-page-btn:hover {
  border: 1px solid var(--accent-color);
}
.tui-pagination .tui-page-btn.tui-is-selected {
  color: var(--header-font-color);
  background-color: var(--accent-color);
}

.tui-pagination .tui-prev.tui-page-btn,
.tui-pagination .tui-next.tui-page-btn {
  background-color: rgb(247, 247, 247);
  padding-left: 7px;
}

.tui-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-last {
  display: none;
}

.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next {
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  color: transparent;
}

.tui-pagination .tui-ico-prev {
  background: url("../images/arrow-left.svg") no-repeat 0 0;
}

.tui-pagination .tui-ico-next {
  background: url("../images/arrow-right.svg") no-repeat 0 0;
}

.tui-pagination .tui-is-disabled {
  border: 1px solid transparent;
}

.tui-pagination .tui-is-disabled:hover {
  border: 1px solid transparent;
  cursor: default;
}

@media screen and (max-width: 767px) {
  .tui-pagination .tui-prev-is-ellip,
  .tui-pagination .tui-next-is-ellip {
    display: none;
  }
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  display: flex;
  scale: 0;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: scale var(--cubic);
}

.scroll-up__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--header-font-color);
  align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}
.scroll-up__button:hover {
  fill: var(--accent-color);
}
.scroll-up__button:hover .scroll-up__icon {
  scale: 1.1;
}

.backdrop-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.725);
  opacity: 1;
  background-size: cover;
  transition: 0.6s;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 0 solid rgba(0, 0, 0, 0.755);
  border-radius: 50%;
}
.loader__ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: var(--error-color);
  animation: rotate1 2s linear infinite;
}
.loader__ring:nth-child(2) {
  border-right-width: 8px;
  border-color: var(--accent-color);
  animation: rotate2 2s linear infinite;
}
.loader__ring:nth-child(3) {
  border-top-width: 8px;
  border-color: #e4445c;
  animation: rotate3 2s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.loader__text {
  font-size: 18px;
  color: white;
}

.image-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image {
  margin-bottom: 30px;
  display: inline-block;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 250px;
  }
}
@media screen and (min-width: 1280px) {
  .image {
    width: 300px;
  }
}

.notification-text {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .notification-text {
    font-size: 18px;
  }
}

.footer {
  padding: 29px 0;
  background-color: #f7f7f7;
  color: #545454;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 14px;
  }
}

.copyright {
  margin-bottom: 10px;
}

.developers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */