:root {
  --body-color: #222831;
  --header-background-color: #0d1519;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --header-font-color: #ffffff;
  --primary-font-color: rgba(0, 0, 0, 1);

  --accent-color: rgba(255, 107, 8, 1);
  --error-color: #ff001b;
  --modal-color: #606470;
}
