.nav__logo {
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transform: scale(1.01);

    & .nav__logo-img {
      stroke: var(--accent-color);
    }

    & .nav__logo-text {
      color: var(--accent-color);
    }
  }
}

.nav__logo-img {
  fill: transparent;
  stroke: var(--header-font-color);
  transition: stroke var(--cubic);

  @media screen and (max-width: 767px) {
    width: 30px;
    height: 30px;
  }
}

.nav__logo-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: var(--header-font-color);
  transition: color var(--cubic);

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 10px;
  }
}
