.tui-pagination {
  justify-content: center;
  display: flex;
}

.tui-pagination .tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--primary-font-color);

  border: 1px solid transparent;
  border-radius: 5px;
  transition: all var(--cubic);

  &:hover {
    border: 1px solid var(--accent-color);
  }

  &.tui-is-selected {
    color: var(--header-font-color);
    background-color: var(--accent-color);
  }
}

.tui-pagination .tui-prev.tui-page-btn,
.tui-pagination .tui-next.tui-page-btn {
  background-color: rgba(247, 247, 247, 1);
  padding-left: 7px;
}

.tui-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-last {
  display: none;
}

.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next {
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  color: transparent;
}

.tui-pagination .tui-ico-prev {
  background: url('../images/arrow-left.svg') no-repeat 0 0;
}

.tui-pagination .tui-ico-next {
  background: url('../images/arrow-right.svg') no-repeat 0 0;
}

.tui-pagination .tui-is-disabled {
  border: 1px solid transparent;
}

.tui-pagination .tui-is-disabled:hover {
  border: 1px solid transparent;
  cursor: default;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
