.movieModal__container {
  position: relative;
  width: 100%;
  max-width: 280px;
  padding: 48px 20px 48px 20px;
  border-radius: 5px;
  background-color: var(--header-font-color);

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
    max-width: 704px;
    padding: 40px 36px 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
    max-width: 806px;
    padding: 40px 12px 40px 12px;
  }
}

.movieModal__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 357px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

.movieModal__img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

.movieModal__info-container {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
  }
}
.movieModal__list {
  width: 100%;
}

.movieModal__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-font-color);
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.movieModal__list-container {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    gap: 83px;
  }
}

.movieModal__item-list {
  display: flex;
}

.movieModal__item {
  width: calc(100% / 2);
}

.movieModal__list-section:not(:last-child) {
  margin-bottom: 8px;
}

.movieModal__item.heading {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.movieModal__item.text {
  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.movieModal__item.text:not(:last-child) {
  text-transform: uppercase;
}

.vote-average {
  padding: 1px 10px;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--header-font-color);
}

.slash {
  margin-left: 10px;
  margin-right: 12px;
  color: #8c8c8c;
}

.movieModal__about-container {
  margin-bottom: 20px;
}

.movieModal__subtitle {
  margin-bottom: 10px;
  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

.movieModal__description {
  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
}

.movieModal__btn-container {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1280px) {
    justify-content: left;
    gap: 15px;
    padding: 8px;
  }
}

.movieModal__btn {
  width: 110px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

  color: var(--header-font-color);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33; /* 133.333% */
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.movieModal__btn.firstBtn {
  background-color: var(--accent-color);
  color: var(--header-font-color);
  border: 1px solid var(--accent-color);
  transition: all var(--cubic);

  &:hover {
    background-color: var(--header-font-color);
    color: var(--accent-color);
  }
}

.movieModal__btn.secondBtn {
  color: var(--primary-font-color);
  border: 1px solid var(--primary-font-color);
  &:hover {
    background-color: var(--header-font-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
